# Config Phpstan

parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::.+\(\)#'
            paths:
                - ImportConfiguration.php
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::.+\(\)#'
            paths:
                - ImportConfiguration.php
    reportUnmatchedIgnoredErrors: false # required for different versions of Symfony
    tmpDir: .phpstan.cache
